<div class="page-card contents">

	<p id="notice"><%= notice %></p>

	<h1>Rediger website</h1>
	<br>

	<div class="row">
		<div class="col-md-4 col-sm-4">
			<%= link_to 'Meny lenke', nav_path %>
		</div>
		<div class="col-md-4 col-sm-4">
			<%= link_to 'Meny sub-lenke', sub_nav_path %>
		</div>
		<div class="col-md-4 col-sm-4">
			<%= link_to 'Side', page_path %>
		</div>
	</div>


</div>