<div class="page-text">

<em>Sist oppdatert: Mandag 17. desember 2018</em>
<br><br>
<strong>
Hjemmesidens eier og kontaktopplysninger
Denne hjemmeside er drevet og eiet av 
<br><br>
LÆR Å SVØMME AS<br>
ÅSTADRYGGEN 8
<br><br>
1396 BILLINGSTAD<br>
E-post: 
</strong>
<br><br>
<strong>Hva er en cookie?</strong>
<br>
En cookie er en liten tekst-fil som vi lagrer på din PC. Dette gjør vi for å kunne holde orden på hva der skjer under ditt besøk og for vi skal kunne gjenkjenne din PC. En cookie inneholder kun tekst, er ikke et program og inneholder ikke virus.
<br><br>
<strong>Hjemmesidens bruk av cookies</strong>
<br>
Cookies er nødvendige for å få hjemmesiden til å fungere. Cookies hjelper oss dessuten med å få overblikk over ditt besøk på hjemmesiden, slik at vi løpende kan optimere og målrette hjemmesiden til dine behov og interesser. Cookies husker f.eks., hva du har lagt i en eventuell innkjøpskurv, om du tidligere har besøkt siden, om du er logget inn, samt hvilket språk og valuta du gjerne vil ha vist på hjemmesiden. Vi bruker også cookies til å målrette våre annonser til deg på andre hjemmesider. Overordnet benyttes cookies som som del av vår løsning for å vise innhold som er så relevant som mulig for deg.
<br><br>

<strong>Slik avviser eller sletter du dine cookies</strong>
<br>
Avvisning av cookies:<br>
Du kan alltid avvise cookies på din PC ved å endre innstillingene i din Internett-browser. Hvor du finner disse innstillingene avhenger av hvilken browser du benytter. Du skal imidlertid være oppmerksom på at dersom du gjør dette, vil det være mange funksjoner og tjenester du ikke kan benytte fordi disse funksjoner og tjenester forutsetter at hjemmesiden kan huske de valg du foretar.
<br><br>
Du kan velge hvilke annonsenettverk du ikke ønsker at skal dele dine persondata på tvers av forskjellige slike nettverk ved å klikke her.
<br><br>
<strong>Sletting av cookies:</strong>
<br>
Cookies som du tidligere har akseptert, kan senere enkelt slettes. Benytter du en PC med en nyere Internett-browser, kan du slette dine cookies ved å benytte snarveistastene: CTRL + SHIFT + Delete. Dersom disse ikke fungerer, og/eller benytter du en MAC, må du først avklare hvilken browser du benytter og deretter klikke på den relevante linken under:
<br><br>
Internet Explorer<br>
Mozilla Firefox<br>
Google Chrome<br>
Opera<br>
Safari<br>
Flash cookies (alle browsere)<br>
iPhone, iPad og annet fra Apple<br>
Telefoner med Android styresystem<br>
Telefoner med Windows 7<br>
<br>
Husk: Benytter du flere Internett-browsere, må du slette cookies i hver enkelt.

</div>

<hr style="border-bottom: 1px solid #555454">