<div class="page-card">

<p id="notice"><%= notice %></p>

<h3>Sider</h3>


<table class="table table-hover">
  <thead>
    <tr style="font-size: 14px">
      <th>Titel</th>
      <th>Redigér/Slett</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <tbody>
      <% @pages.each do |page| %>
        <tr style="font-size:14px !important;">
          <td><%= page.title if page.title %></td>
          <td><%= link_to 'Redigér', edit_page_path(page), style: 'color: #00394c !important' %> / <%= link_to "Slett", page_path(page), data: {:confirm => 'Er du sikker?'}, method: :delete, style: 'color: #d9534f !important' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

