<div class="page-text">

<em>Sist oppdatert: Mandag 17. desember 2018</em>
<br><br>
<strong>
Hjemmesidens eier og kontaktopplysninger<br>
Denne hjemmeside er drevet og eiet av<br>
LÆR Å SVØMME AS<br>
ÅSTADRYGGEN 8
<br><br>
1396 BILLINGSTAD<br>
E-post: 
<br>
</strong>

<h2>1.Samling av informasjon</h2>

Vi samler data fra deg når du registrerer på vår side, logger inn på din konto, gjør et kjøp, deltar i en konkurranse og/eller når du logger ut. Den samlede informasjonen inkluderer ditt navn, epost adresse, telefonnummer og/eller kredittkort.
<br><br>
I tillegg, så mottar vi og registrerer automatisk informasjon om din datamaskin og nettleser, inklusiv din IP adresse, programvare og maskinvare, samt siden du etterspør.
<br><br>
<strong>Bruk av informasjon<br>
All informasjon vi samler fra deg kan bli brukt for å:</strong>
<br><br>
Tilpasse din opplevelse og svare for dine individuelle behov<br>
Tilby tilpasset annonsørinnhold<br>
Forbedre vår nettside<br>
Forbedre kundestøtten og dine behov<br>
Kontakte deg via epost<br>
Skape en konkurranse, kampanje eller undersøkelse<br>
<br>
<strong>E-handels personvern</strong>
<br>
Vi er eneeier av informasjonen samlet på denne siden. Din personlige identifiserbare informasjon vil ikke bli solgt, utvekslet, overført eller gitt til andre selskaper uansett årsak, uten din tillatelse, utenom det som er nødvendig for å fullføre en forespørsel og/eller transaksjon, f.eks for å skipe en ordre.
<br><br>
<strong>Tredjeparts avsløring</strong>
<br>
Vi selger, bytter eller overfører ikke din personlige identifiserbare informasjon til utestående parter. Dette inkluderer ikke klarerte tredjeparter som assisterer oss i administrering av vår nettside eller gjennomføring av vår virksomhet, så lenge partene er enige i å holde denne informasjonen konfidensiell.
<br><br>
Vi mener det er nødvendig å dele informasjon for å etterforske, forhindre eller handle mot ulovlige aktiviteter, mistanke på svindel, situasjoner som involverer potensiell risiko på en persons fysiske sikkerhet, brudd på våre vilkår for bruk eller dersom det er påkrevd ved lov.
<br><br>
Ikke-personlig informasjon, kan dog gis til andre parter for markedsføring, annonsering eller andre bruksområder.
<br><br>
<strong>Informasjonsbeskyttelse</strong>
<br>
Vi implementerer en rekke sikkerhetstiltak for å opprettholde sikkerheten på din personlige informasjon. Vi bruker den beste tilgjengelige krypteringen for å beskytte sensitiv informasjon overført på nett. VpnMentor beskytter også din informasjon offline. Kun ansatte som behøver å utføre en spesifikk jobb (for eksempel fakturering eller kundestøtte) får tilgang på personlig identifiserbar informasjon. Datamaskinene/serverne som brukes for å lagre personlig identifiserbar informasjon holdes i et sikkert miljø.
<br><br>
<strong>Bruker vi cookies?</strong>
<br><br>
Ja. Våre cookies forbedrer tilgangen til vår side og identifiserer repeterende besøkende. Dessuten, så forbedrer våre cookies opplevelsen for brukeren ved å spore og rette seg mot han/hennes interesser. Denne cookie bruken er dog ikke på noen måte tilknyttet personlig identifiserbar informasjon på vår side.
<br>
<strong>Avslutte abonnement</strong>
<br>
Vi bruker epost adressen du gir oss for å sende deg informasjon og oppdateringer knyttet til din ordre, sporadiske firmanyheter, relatert produktinformasjon osv. Hvis du ønsker å avslutte abonnementet på våre eposter, så inkluderer vi detaljert informasjon om hvordan dette gjøres i hver epost.
<br><br>
<strong>Enighet</strong>
<br>
Ved å bruke vår nettside, så er du enig i vår personvernserklæring.

</div>

<hr style="border-bottom: 1px solid #555454">